<%-include("header.ejs")-%>
<h1>this is an about page</h1>


Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Optio, vel fugiat eligendi adipisci architecto ullam! Au
tem in quos aliquam pariatur dolorum consequatur necessitatib
us accusantium dolore itaque nostrum, libero at excepturi placeat voluptatum optio maxime! Pra
esentium quam corrupti quas doloremque, ea nesciunt, quae itaque maxime vero dolorum porro officia tempora ipsam.
<%-include("footer.ejs")-%>